<div class="ui right floated buttons">
    {% set menu = knp_menu_get('asdoria.admin.facet_filter_update', [], {'facetFilter': resource}) %}
    {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
</div>
